{% extends 'base.html.twig' %}

{% block title %}GTA Weapons Stats{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/build/app.css') }}">
{% endblock %}

{% block body %}

{% include 'partials/_header.html.twig' %}

<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4">GTA Weapons Stats</h1>

    <!-- Section Catégories -->
    <div class="mb-8">
        <h2 class="text-2xl font-bold">Categories</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for categorie in categories %}
                <div class="p-4 rounded shadow-md">
                    <a href="{{ path('category_show', {'slug': categorie.slug}) }}" class="block text-center text-black">
                        {{ categorie.nom }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Section Armes -->
    <h2 class="text-2xl font-bold">Armes</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for weapon in armes %}
            <div class="bg-red p-4 rounded shadow-md">
                <img src="img/guns/{{ weapon.image }}" alt="{{ weapon.nom }}" />
                <h2 class="text-xl font-bold mb-2">{{ weapon.nom }}</h2>
                <div class="mt-4">
                    <p><strong>Magazine Capacity:</strong> {{ weapon.magazine_capacity }}</p>
                    <p><strong>Rate of fire:</strong> {{ weapon.rateOfFire }}</p>
                    <p><strong>Damage:</strong> </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
