{% extends 'base.html.twig' %}

{% block title %}Armes de la catégorie: {{ category.nom }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/build/app.css') }}">
    {# Assurez-vous que Font Awesome est inclus si vous utilisez une icône de flèche de cette bibliothèque #}
{% endblock %}

{% block body %}
{% include 'partials/_header.html.twig' %}

    <div class="container mx-auto mt-8">
        {# bouton retour pour revenir en arriere donc au home avec un espace #}
        <a href="{{ path('home') }}" class="text-blue-500 hover:text-blue-600 font-bold mb-3 inline-block">
            <span class="text-blue-600 hover:text-blue-700">&larr;</span> Back
        </a>

        <h1 class="text-3xl font-bold mb-4">{{ category.nom }}</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for arme in armes %}
                <div class="bg-red p-4 rounded shadow-md">
                    <img src="../../img/guns/{{ arme.image }}" alt="{{ arme.nom }}" />
                    <h2 class="text-xl font-bold mb-2">{{ arme.nom }}</h2>
                    <div class="mt-4">
                    <p><strong>Magazine Capacity:</strong> {{ arme.magazine_capacity }}</p>
                    <p><strong>Rate of fire:</strong> {{ arme.rateOfFire }}</p>
                    <p><strong>Damage:</strong> 0p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


